#nome,
#gmail,
#telefone,
#senha{
    display: block;
    margin: 10px auto;
    width: 270px;
    height: 30px;
    border-radius: 10px;
}

label{
    font-size: 30px;
}

#txtFeminino{
    font-size: 20px;
    margin: 20px;
}

#txtMasculino{
    font-size: 20px;
}

#submit{
    margin: 10px auto;
    border-radius: 5px;
}

#nome,
#gmail,
#telefone,
#senha ::placeholder{
    color: aqua;
}

#formulario{
    background-color: aliceblue;
    width: 300px;    
    margin: 200px auto;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    height: 500px;
    width: 400px;
}

h2,
p{
    font-size: 30px;
    text-align: center;
    color: black;
}

h1{
    font-size: 50px;
    text-align: center;
    color: black;
}

img{
    height: 25%;
	width: 25%;
	margin: auto;
    display: block;
    border-color: rgb(1, 175, 175);
    border-radius: 20px;
}

body{
    background-color: aqua;
}

.nome{
    margin-top: 20px;
}